
<div>
	Well, seems its good to go. {{'That\'s'+' Powerful!'}}
	<div>
		<h4>Example, {{myFirstDirectiveController.myName}}</h4> 
		<h3>All Users</h3>
		<!--
		<div ng-repeat="user in myFirstDirectiveController.users">
			{{user.firstName+' '+user.lastName}}
		</div>
		-->
		<!-- Directly Accesing the $scope (ViewModel) of the Module -->
		<div ng-repeat="user in persons">
			{{user.firstName+' '+user.lastName}}
		</div>
		<!-- Weather Data -->
		<!-- This data again is directly accessing the $scope or ViewModel of the Module-->
		<h4>{{testData}}</h4>
	</div>
</div>